<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700'
        rel='stylesheet' type='text/css'>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Scratch Card</title>
    <style type="text/css">
        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        .scratchpad {
            width: 450px;
            height: 445px;
            border: solid 10px #FFFFFF;
            margin: 0 auto;
        }

        body {
            background: #efefef;
            /* background: #000; */

        }

        .scratch-container {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 100%;
        }

        @media only screen and (max-width : 480px) {
            .scratchpad {
                width: 400px;
                height: 396px;
            }

            .scratch-container {
                width: 400px !important;
            }
        }

        /* Custom, iPhone Retina */
        @media only screen and (max-width : 320px) {
            .scratchpad {
                width: 290px;
                height: 287px;
            }

            .scratch-container {
                width: 290px !important;
            }
        }

        .promo-container {
            background: #FFF;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            width: 450px;
            padding: 20px;
            margin: 0 auto;
            text-align: center;
            font-family: 'Open Sans', Arial, Sans-serif;
            color: #333;
            font-size: 16px;
            margin-top: 20px;
        }

        .btn {
            background: #56CFD2;
            color: #FFF;
            padding: 10px 25px;
            display: inline-block;
            margin-top: 15px;
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radiuss: 3px;
        }
    </style>

</head>

<body>
    
    <!-- <div class="container">
        <div class="row no-gutter mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="scratchpad" id="promo"></div>
                        
                    </div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    <div class="scratch-container">
        <div class="row mt-5 p-3">
            <div class="col-md-6">  
                <div id="promo" class="scratchpad"></div>
            </div>

            <div class="col-md-6">
                <div id="promo2" class="scratchpad"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div id="promo3" class="scratchpad"></div>
            </div>
        </div>
    </div>

    <!-- <div class="promo-container" style="display:none;"> -->
    <div class="promo-container">

        <div class="promo-code"></div>
        <a href="https://msportsid.com" target="_blank" class="btn">Claim Now</a>
    </div>

    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="lib/wScratchPad.min.js"></script>

    <script type="text/javascript">
        // var userToken = "<%= token %>";
        var userToken = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vMTI3LjAuMC4xOjgwMDAvYXBpL2xvZ2luZ29vZ2xlIiwiaWF0IjoxNjc3NjQzOTc0LCJuYmYiOjE2Nzc2NDM5NzQsImp0aSI6ImlvV2ROYXlPbkVUZHE5ZFUiLCJzdWIiOiIxNDEiLCJwcnYiOiI4N2UwYWYxZWY5ZmQxNTgxMmZkZWM5NzE1M2ExNGUwYjA0NzU0NmFhIn0.0L5QK4ExVkTJQhM85FJ-vMCiipq7NZliPpKus9cr7FU"
        var ticket;

        // fetch('https://api.msportsid.com/api/game/tiket', {
        fetch('http://127.0.0.1:8000/api/game/tiket', {
        
            method: 'get',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${userToken}`
            }
        }).then(res => {
            res.json().then(res2 => {
                ticket = res2.data[0].tiket;
                console.log(res2.data[0].tiket)
            })
        }).catch(err => {
            console.log(err)
        });

        var prize1 = {
            img: 'img/prize1.png',
            text: 'MPoint 10000'
        };
        var prize2 = {
            img: 'img/prize2.png',
            text: 'MReferral 5000'
        };
        var prize3 = {
            img: 'img/prize5.png',
            text: 'T-SHIRT'
        };
        var prize4 = {
            img: 'img/prize6.png',
            text: 'HOODIE'
        };
        var prize5 = {
            img: 'img/prize3.png',
            text: 'MPoint 1000'
        };
        var prize6 = {
            img: 'img/prize4.png',
            text: 'MReferral 500'
        };
        var prize7 = {
            img: 'img/sorry.png'
        };

        // var prizeArray = [prize1, prize2, prize5, prize6];
        // var prizeArray = [prize1, prize2, prize3, prize4, prize5, prize6, prize7];
        var prizeArray = [prize1, prize2, prize3];


        // for (var i = 0; i <= 46; i++) {
        //     prizeArray.push(prize3);
        //     prizeArray.push(prize4);
        // }

        // for (var i = 0; i <= 50; i++) {
        //     prizeArray.push(prize7);
        // }

        // selectPrize = prizeArray[Math.floor(Math.random() * prizeArray.length)];

      
        const min = parseInt(1);
        const max = parseInt(3);
        const rand = Math.floor(Math.random() * (max - min + 1)) + min;
        const rand1 = Math.floor(Math.random() * (max - min + 1)) + min;
        const rand2 = Math.floor(Math.random() * (max - min + 1)) + min;

        if(rand == 1){
            selectPrize = prizeArray[0]
        }else if(rand == 2){
            selectPrize = prizeArray[1]
        }else if(rand == 3){
            selectPrize = prizeArray[2]
        }


        if (rand1 == 2) {
            selectPrize1 = prizeArray[1]
        } else if (rand1 == 3) {
            selectPrize1 = prizeArray[2]
        } else if (rand1 == 1) {
            selectPrize1 = prizeArray[0]
        }

        if (rand2 == 3) {
            selectPrize2 = prizeArray[2]
        } else if (rand2 == 1) {
            selectPrize2 = prizeArray[0]
        } else if (rand2 == 2) {
            selectPrize2 = prizeArray[1]
        }

        if((rand == 1) && (rand1 == 1) && (rand2 == 1)){
            prize = prize1;
            console.log(prize);

        } 


        console.log(rand);
        console.log(rand1);
        console.log(rand2);

        // console.log(selectPrize);

        // var rand = Math.random();
        // if (rand < 0.3) {
        //     selectPrize = prizeArray[6]
        // } else if (rand < 0.6) {
        //     selectPrize = prizeArray[6]
        // } else if (rand <= 0.9) {
        //     selectPrize = prizeArray[Math.floor(Math.random() * (5 - 4 + 1)) + 4]
        // } else if (rand > 0.9) {
        //     selectPrize = prizeArray[Math.floor(Math.random() * (3 - 0 + 1)) + 0]
        // } else {
        //     selectPrize = prizeArray[6]
        // }

        // console.log(`Get Random Number : ${rand}`);

        this.startTheGame();

        function startTheGame() {

            // fetch('https://api.msportsid.com/api/game/fortunewheel/start', {
            fetch('http://127.0.0.1:8000/api/game/fortunewheel/start', {

                method: 'get',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${userToken}`
                }
            }).then(res => {
                res.json().then(res2 => {
                    if (res2.messege != undefined) {
                        // promt view to know your ticket insufficient
                        Android.showToast(res2.messege);
                        console.log(res2.messege);
                    } else {
                        this.setGame();
                        ticket = res2.data[0].tiket - 1;
                        console.log("GOSOK GOSOK");
                    }
                });
            });

        }

        function setGame() {

            var promo1 =   $('#promo');
            var promo2 =   $('#promo2');
            var promo3 =   $('#promo3');

            $('#promo').wScratchPad({
                // the size of the eraser
                size: 70,
                // the randomized scratch image   
                bg: selectPrize.img,
                // give real-time updates
                realtime: true,
                // The overlay image
                fg: 'img/overlay.png',
                // The cursor (coin) image
                'cursor': 'url("img/coin1.png") 5 5, default',

                scratchMove: function (e, percent) {
                    // Show the plain-text promo code and call-to-action when the scratch area is 50% scratched
  
                    if ((percent > 50) && (selectPrize.text != undefined)) {
                        $('.promo-container').show();
                        $('body').removeClass('not-selectable');
                        $('.promo-code').html('Congrats You Got: ' + selectPrize.text);
                    }

                    if (percent > 2 ) {
                        promo1 = percent;
                        promo2.prop("disabled", true);
                        promo3.prop("disabled", true);
                    }

                    if(promo1 > 50){
                        promo2.wScratchPad('clear').show();
                        promo3.wScratchPad('clear').show();
                        // console.log(promo2.show());
                    }
                }
            });
            
            
            $('#promo2').wScratchPad({
                // the size of the eraser
                size: 70,
                // the randomized scratch image   
                bg: selectPrize1.img,
                // give real-time updates
                realtime: true,
                // The overlay image
                fg: 'img/overlay.png',
                // The cursor (coin) image
                'cursor': 'url("img/coin1.png") 5 5, default',

                scratchMove: function (e, percent) {
                    // Show the plain-text promo code and call-to-action when the scratch area is 50% scratched
                    if ((percent > 50) && (selectPrize1.text != undefined)) {
                        $('.promo-container').show();
                        $('body').removeClass('not-selectable');
                        $('.promo-code').html('Congrats You Got: ' + selectPrize1.text);
                    }

                    if (percent > 2) {
                        promo2 = percent;
                        promo1.prop("disabled", true);
                        promo3.prop("disabled", true);
                    }

                    if (promo2 > 50) {
                        promo1.wScratchPad('clear').show();
                        promo3.wScratchPad('clear').show();
                    }

                }
            });


         


            $('#promo3').wScratchPad({
                // the size of the eraser
                size: 70,
                // the randomized scratch image   
                bg: selectPrize2.img,
                // give real-time updates
                realtime: true,
                // The overlay image
                fg: 'img/overlay.png',
                // The cursor (coin) image
                'cursor': 'url("img/coin1.png") 5 5, default',

                scratchMove: function (e, percent) {
                    // Show the plain-text promo code and call-to-action when the scratch area is 50% scratched
                    if ((percent > 50) && (selectPrize2.text != undefined)) {
                        $('.promo-container').show();
                        $('body').removeClass('not-selectable');
                        $('.promo-code').html('Congrats You Got: ' + selectPrize2.text);
                    }

                    if (percent > 2) {
                        promo3 = percent;
                        promo1.prop("disabled", true);
                        promo2.prop("disabled", true);
                    }

                    if (promo3 > 50) {
                        promo1.wScratchPad('clear').show();
                        promo2.wScratchPad('clear').show();
                    }
                }
            });

        }

    </script>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>